// --coral:#FA824C;
// --fontmono:"PT Mono", monospace;
// --flame: #E4572E;
// --bluedeFrance: #3C91E6;
// --shiny: #4CA866;

$coral: #fa824C;
$flame: #E4572E;
$bluefrance: #3C91E6;
$Shiny: #4CA866;
$quicksilver: #A2A2A2;
$pastelgray: #BDDFC7;
$yellowbuff: #F1DD7B