header {
  width: 100%;
}

.navbar__logo {
  display: inline-block;
  height: 50%;
  top: 15px;
  vertical-align: middle;
  margin-left: 3rem;
  margin-top: 1rem;
}

.navbar__menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  left: 11%;
  margin-top: 1rem;
}

.navbar__menu--decoration {
  text-decoration: none;
  color: #989797;
  font-size: 18px;
  padding-right: 15px;
}
